
<div class="row">
  <div class="col-md-4">
<nav>
  <a routerLinkActive="active" routerLink="/user-create">Register</a>
  <br/>
  <a routerLinkActive="active" routerLink="/user-login">Login</a>
  <br/>
  <a routerLinkActive="active" routerLink="/user-change-password">Change password</a>
  <br/>
  <a routerLinkActive="active" routerLink="/user-forget-password">You forgot your password</a>
  <br/>
  <a routerLinkActive="active" routerLink="/guest">Continue as guest</a>
</nav>
</div>
<div class="col justify-content-center">
    <h1>ETF KVIZOTEKA</h1>
  </div>
</div>

<router-outlet ></router-outlet>


